Options -Multiviews
RewriteEngine On
RewriteCond %{HTTPS} !=on

RewriteBase /stacymackin/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ https://%{HTTP_HOST}%{REQUEST_URI}public/index.php?url=$1 [QSA,L]
