Options -Multiviews
RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} !https

#RewriteBase /stacymackin/public/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ /stacymackin/public/index.php?url=$1 [QSA,L]
