Options -Indexes
RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} !https 

RewriteBase /stacymackin/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ public/index.php?url=$1 [QSA,L]
